header,
aside{

    a{
        text-decoration:none;
        color:white;

        &:hover{
            text-decoration:underline;
        }
    }
}

ul li{
    list-style-type: none;
}

.wrapper{
    height:calc(100vh - 48px);
    overflow:hidden;
}

.aside-body{
    background-color:black;
    width: 200px;
    height: 100%;
}

aside{
    ul li{
        line-height: 40px;
    }
}

.content{
    overflow:auto;
    width: 100%;
}
